Repository ruishanteo/arc, pull requests merged in 2023-07, with the labels that each got.

#23 Fix #22, user reported bugs for planner
  .gitignore
  src/ModulePlanner/CommonRequirements.js
  src/ModulePlanner/InstructionWindow.js
  src/ModulePlanner/Instructions.js
  src/ModulePlanner/ModuleChecker.js
  src/ModulePlanner/ModuleComponent.js
  src/ModulePlanner/PlannerInstructions.js
  src/ModulePlanner/ProgRequirements.js
  src/ModulePlanner/Semester.js
  src/ModulePlanner/UnrestrictedRequirements.js
  src/ModulePlanner/styles.js
Labels: bug, Module Planner

#24 Fix #21 Profile page bug fixes and enhancements
  package.json
  src/App.js
  src/NavPages/Home.js
  src/UserAuth/FirebaseHooks.js
  src/UserAuth/Login.js
  src/UserAuth/Profile.js
  src/testing/integration/Forum.test.js
  src/testing/integration/GradeCalculator.test.js
  src/testing/unit/Profile.test.js
  src/testing/utils/TestProvider.js
  yarn.lock
Labels: bug, enhancement, Profile

#25 Added Module Planner Tests
  package.json
  src/ModulePlanner/CommonRequirements.js
  src/ModulePlanner/Instructions.js
  src/ModulePlanner/ModuleChecker.js
  src/ModulePlanner/PlannerInstructions.js
  src/ModulePlanner/PlannerStore.js
  src/ModulePlanner/ProgRequirements.js
  src/ModulePlanner/Semester.js
  src/ModulePlanner/UnrestrictedRequirements.js
  src/stores/store.js
  src/testing/e2e/ModuleChecker.test.js
  src/testing/integration/ModulePlanner.test.js
  src/testing/integration/mocks/MockData.js
  yarn.lock
Labels: testing

#26 Added Feedback Form
  package.json
  src/App.js
  src/FeedbackForm/Avatar.js
  src/FeedbackForm/FeedbackFill.js
  src/FeedbackForm/FeedbackForm.js
  src/FeedbackForm/FeedbackStore.js
  src/FeedbackForm/FeedbackWindow.js
  src/FeedbackForm/styles.js
  src/Images/bubble2.png
  src/ModulePlanner/CommonRequirements.js
  src/ModulePlanner/ModuleComponent.js
  src/ModulePlanner/ProgRequirements.js
  src/ModulePlanner/Semester.js
  src/ModulePlanner/UnrestrictedRequirements.js
  src/index.css
  src/stores/store.js
  src/testing/e2e/FeedbackForm.test.js
  src/testing/e2e/ModuleChecker.test.js
  yarn.lock
Labels: enhancement
